specVersion: 0.0.5
description: >-
  Randomly generated avatar NFTs auctioned daily.
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: BeansAuctionHouse
    network: {{network}}
    source:
      address: '{{beansAuctionHouse.address}}'
      abi: BeansAuctionHouse
      startBlock: {{beansAuctionHouse.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      file: ./src/beans-auction-house.ts
      entities:
        - AuctionCreated
      abis:
        - name: BeansAuctionHouse
          file: ./contracts/BeansAuctionHouse.sol/BeansAuctionHouse.json
      eventHandlers:
        - event: AuctionCreated(indexed uint256,uint256,uint256)
          handler: handleAuctionCreated
  - kind: ethereum/contract
    name: BeansToken
    network: {{network}}
    source:
      address: '{{beansToken.address}}'
      abi: BeansToken
      startBlock: {{beansToken.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      file: ./src/beans-erc-721.ts
      entities:
        - BeanCreated
      abis:
        - name: BeansToken
          file: ./contracts/BeansToken.sol/BeansToken.json
      eventHandlers:
        - event: BeanCreated(indexed uint256,string)
          handler: handleBeanCreated
